@* <div class="navbar navbar-inverse navbar-fixed-top"> *@
@*     <div class="container"> *@
@*         <div class="navbar-header"> *@
@*             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">Home</button> *@
@*             @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) *@
@*         </div> *@
@*         <div class="navbar"> *@
@*             <ul class="nav navbar-nav"> *@
@*                 <li>@Html.ActionLink("Home", "Index", "Home")</li> *@
@*                 <li>@Html.ActionLink("About", "About", "Home")</li> *@
@*                 <li>@Html.ActionLink("Contact", "Contact", "Home")</li> *@
@*             </ul> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Vidly</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
        </li>
    </ul>
</div>
